.logo{
  display: block;
  margin: auto;
  padding: auto;
  position: absolute;
  background: rgb(1,54,8);
}

#github{
  visibility: hidden;
  position: fixed;
  top: 100px;
  right: 980px;
}

#sjaweb{
  visibility: hidden;
  position: fixed;
  top: 100px;
  right: 930px;
}

.bannertext{
  text-align: left;
  position: absolute;
  left: 158px;
  padding-bottom: 57px;
  padding-right: 177px;
font-family: 'IM Fell English', serif;
font-size: 50;
  margin: auto;
  padding: auto;
  background: rgb(210,201,149);
}

#testpar{
  display: block;
  background: black;
  margin: auto;
  padding: auto;
}
