.logo{
  margin: auto;
  padding: auto;
  background: rgb(1,54,8);
}

#github{
  visibility: hidden;
  position: fixed;
  top: 100px;
  right: 980px;
}

#sjaweb{
  visibility: hidden;
  position: fixed;
  top: 100px;
  right: 930px;
}

.bannertext{
  position: relative;
  height: 120px;
  top: -120px;
font-family: 'IM Fell English', serif;
  margin: auto;
  padding: auto;
  margin-left: 150px;
  background: rgb(210,201,149);
}

#testpar{
  display: block;
  background: black;
  margin: auto;
  padding: auto;
}
