.logo{
  display: block;
  padding: 10px;
  background: rgb(1,54,8);
}

#github{
  visibility: hidden;
  position: fixed;
  top: 100px;
  right: 980px;
}

#sjaweb{
  visibility: hidden;
  position: fixed;
  top: 100px;
  right: 930px;
}

.bannertext{
  font-family: 'IM Fell English', serif;
  font-style: italic;
  font-size: 90;

  display: block;
    margin: auto;
    padding: 10px;
  position: fixed;
    bottom: 788px;
    right: 624px;
    height: 120px;
    width: auto;
  background: rgb(210,201,149);
}

#testpar{
  display: block;
  background-color: black;
  height: 100px;
  width: 100px;
}
