/*GENERAL STUFF*/
html, body {
  margin: 0 auto;
  text-align: center;
  background-color: rgb(0,35,0);
}

p {
  color: rgb(0,35,0);
}

h1 {
  font-size: 3vw;
  color: rgb(0,35,0);
}

/*NAVIGATION MENU*/
nav {
  z-index: 100;
  background: rgb(210,201,149);
  word-spacing: 3vw;
  text-align: left;
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 3vw;
}

nav a {
  position: relative;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 2.45vw;
  text-decoration: none;
  border-top: 20px solid transparent;
  color: rgb(0,35,0);
}

nav a:hover {
  border-top: 15px solid rgb(0,35,0);
}

#navlogo {
  float: left;
  width: 20vw;
}

#logotext {
  position: fixed;
    left: 2vw;
    top: -2.2vw;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 2.5vw;
  word-spacing: normal;
  color: rgb(210,201,149);
}

/*BACKGROUND IMAGE*/
.background {
  position: relative;
  background-image: url("robotsbg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 35vw;
}

/*ROBOTS*/
#robots {
  position: relative;
  margin-left: 5vw;
  margin-top: 3vw;
  font-weight: bolder;
  text-align: center;
  width: 25%;
}

.robot2018 {
  height: 72%;
  background: rgb(210,201,149);
  font-family: 'IBM Plex Sans', sans-serif;
  padding: 1vw 2vw 2vw 1vw;
  border-radius: 10px;
  height: 39vw;
  }

.robot2018-img {
  width: 105%;
  border-radius: 10px;
}

.robot2017 {
  position: relative;
    top: -42vw;
    left: 30vw;
  height: 72%;
  background: rgb(210,201,149);
  font-family: 'IBM Plex Sans', sans-serif;
  padding: 1vw 2vw 2vw 1vw;
  border-radius: 10px;
  height: 39vw;
}

.robot2017-img {
  width: 105%;
  border-radius: 10px;
}
