/*LOGO AND BACKGROUND IMAGE OF HOMEPAGE*/
#logo {
  margin: 0 auto;
  z-index: 1;
  position: fixed;
    top: 2vw;
    left: 30vw;
  width: 35vw;
}

#background {
  z-index: 0;
  margin: auto;
  position: fixed;
  left: 0;
  top: -5vw;
  width: 100vw;
}

/*NAVIGATION MENU*/
li {
  margin: auto;
  display: inline;
}
.menu-list {
  z-index: 2;
  margin:  auto;
  position: fixed;
    top: 40vw;
    left: 0;
    height: 40vw;
  width: 100%;
  color: rgb(0,35,0);
  font-family: 'IM Fell English', serif;
  font-size: 5vw;
  background: rgb(210,201,149);
}
