#backdrop {
    background-image: url("../imgs/mediabg.JPG");
}
.videosContainer,.videosContainer h1 {
    display: flex;
    color: rgb(0, 35, 0);
    background: rgb(210, 201, 149);
}
#background2 {
    background-image: url("../imgs/bg-2018.png");
    height: 50vw;
}
#background3 {
    background-image: url("../imgs/bg-2017.png");
    height: 50vw;
}
#background4 {
    background-image: url("../imgs/bg-2016.png");
    height: 50vw;
}
#background5 {
    background-image: url("../imgs/bg-2015.png");
    height: 50vw;
}
#photoBackdropText {
    position: relative;
    top: 17.5vw;
    transform: translate(-50%, -50%);
    width: 25%;
    text-decoration: none;
    padding: 3vw 3vw 3vw 3vw;
    border-radius: 10vw;
    font-size: 7.5vw;
    font-weight: bolder;
    color: #d2c995;
    background-color: rgb(0, 35, 0);
}
