.backdrop {background-image: url("../imgs/mediabg.JPG");}

.background2 {background-image: url("../imgs/bg-2018.png"); height: 50vw;}

.background3 {background-image: url("../imgs/bg-2017.png"); height: 50vw;}

.background4 {background-image: url("../imgs/bg-2016.png"); height: 50vw;}

.background5 {background-image: url("../imgs/bg-2015.png"); height: 50vw; }

table {
  margin-left:auto;
  margin-right:auto;
}

.background2 a,.background3 a,.background4 a,.background5 a {
  position: relative;
  top: 40%;
  background: var(--SJA_Green);
  padding: 2vw;
  border-radius: 5vw;
  font-size: 5vw;
  text-decoration: none;
}
