#backdrop {
    background-image: url("../imgs/resource-bg.JPG");
}
#backdropText {
    width: 35%;
}
#background2 {
    background-image: url(../imgs/coolhackerprogramming.png);
}
#background3 {
    background-image: url(../imgs/robot.jpg);
}
#FIRSTContainer img {
    min-width: 10vw;
    max-width: 10vw;
}
#softwareContainer {
    display: flex;
}
#autodesk img {
    width: 10vw;
}
#ptc img {
    width: 10vw;
}
#Solidworks img {
    max-width: 40vw;
}
