.backdrop {background-image: url("../imgs/background.JPG");}

.backdrop #logo {
  padding-top: 2vw;
  width: 750px;
}

.backdrop2 {background-image: url("../imgs/background2.JPG");}
.backdrop3 {background-image: url("../imgs/background3.JPG");}
