.backdrop {background-image: url("../imgs/background.JPG");}

.backdrop #logo {
  position: absolute;
  top: 17%;
  left: 32%;
  width: 40%;
}

.backdrop2 {background-image: url("../imgs/background2.JPG");}
.backdrop3 {background-image: url("../imgs/background3.JPG");}
